/*
==============================================================    

    colors.less
	
============================================================== 
*/

/* BACKGROUND COLORS
===================================================== */    
@white: #FFFFFF;
@black: #000000;
@charcoalGray: #444444;
@lightGray: #BBBBBB;

@alertRed: #C3473F;

@fabricRed: #FF513B;
@plum: #FB48C1;
@tangerine: #FCB128;
@yellowGreen: #69F45B;


/* TEXT COLORS
===================================================== */    
@titleText: #0B0B0B;
@bodyText: #323232;
@subText: #999999;
@linkText: #FF3242;






